/* ==========================
   HEADER ADMIN
========================== */


.admin-header {

    display: flex;

    justify-content: space-between;

    align-items: center;

    padding: 20px;

    background: #2e73e2;

    color: white;

}



.admin-header h1 {

    margin: 0;
    

}



.admin-info {

    display: flex;

    align-items: center;

    gap: 20px;

}



.admin-info button {

    padding: 10px 15px;

    border: none;

    cursor: pointer;

}





/* ==========================
   STRUCTURE PRINCIPALE
========================== */


.admin-container {


    display: flex;

    min-height: calc(100vh - 80px);


}





/* ==========================
   MENU ADMIN
========================== */


.admin-menu {


    width: 250px;

    padding: 20px;

    background: #334155;

    color: white;


}



.admin-menu h2 {

    margin-top: 0;

}



.admin-menu ul {

    list-style: none;

    padding: 0;

}



.admin-menu li {

    margin-bottom: 15px;

}



.admin-menu button {


    width: 100%;

    padding: 12px;


    cursor: pointer;


}





/* ==========================
   CONTENU
========================== */


.admin-content {


    flex: 1;

    padding: 30px;


}



.admin-content h2 {


    margin-top: 0;


}





/* ==========================
   CARTES
========================== */


.cards {


    display: grid;


    grid-template-columns: repeat(3, 1fr);


    gap: 20px;


}





.card {


    padding: 20px;


    background: white;


    border-radius: 10px;


}





.card h3 {


    margin-top: 0;


}





/* ==========================
   RESPONSIVE TELEPHONE
========================== */


@media(max-width: 768px) {



    .admin-container {


        flex-direction: column;


    }



    .admin-menu {


        width: auto;


    }



    .cards {


        grid-template-columns: 1fr;


    }



}