/* =========================
   PAGE CONNEXION
========================= */


.login-container {

    min-height: 100vh;

    display: flex;

    justify-content: center;

    align-items: center;

}





/* =========================
   FORMULAIRE
========================= */


.login-box {

    background-color: white;

    width: 350px;

    padding: 30px;

    border-radius: 10px;

    box-shadow: 0 4px 10px rgba(0,0,0,0.1);

}





.login-box h1 {

    text-align: center;

    margin-bottom: 25px;

}





/* =========================
   CHAMPS
========================= */


.login-box input {

    width: 100%;

    padding: 12px;

    margin-bottom: 15px;

    border: 1px solid #ccc;

    border-radius: 5px;

    font-size: 15px;

}





.login-box input:focus {

    outline: none;

    border-color: #2563eb;

}





/* =========================
   BOUTON CONNEXION
========================= */


.login-box button {

    width: 100%;

}